body {
    color: white;
    background: rgb(1, 1, 65);
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px;
}
header {
    border-bottom: solid 2px rgb(175, 10, 10);
    padding: 20px;
    font-size: 32px;
    color: rgb(175, 0, 0)
}
section {
    background: rgb(85, 0, 0);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
.chamada-texto {
    margin-right: 5%;
}
h1 {
    font-size: 40px;
  }
  
  p {
    font-size: 20px;
  }
  img {
    height: 200px;
  }
  .categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
  }
  
  section {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
  }
  .categoria-videos img {
    opacity: 0.5;
    height: 200px
}
.categoria-videos img:hover {
  opacity: 1.0;
  border: 1px solid rgb(11, 73, 145)
}
.categoria h2 {
  color: rgb(50, 50, 184);
}